<!DOCTYPE html>
<!--initialize angular to html-->
<html data-ng-app="notesapp">
  <head>
    <meta charset="utf-8">
    <title>Notes App</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Pacifico" />
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
  <h2>NotesApp</h2>
  <!--notes_controller from app.js brings in functions-->
  <div data-ng-controller="notes_controller as vm">
    <div id="createArea">
        <input type="text" data-ng-model="vm.note.name" placeholder="New Note Name" id="notename"/>
        <p><textarea data-ng-model="vm.note.content" placeholder="Type note here!" id="notecontent"></textarea></p>
        <!--  vm.create() passes new note into notes area -->
        <p><button data-ng-click="vm.create()">&plus;</button></p>
    </div>
    <table>
      <!--  ng-repeat is the angular way of looping -->
      <tr data-ng-repeat="note in vm.notes track by $index">
        <td class="deleteButtons">
          <!-- attaches destroy function to each note -->
          <button data-ng-click="vm.destroy(note)">&cross;</button>
        </td>
        <td class="noteNames">
          <!-- expand function hides other notes when clicked -->
          <div data-ng-click="vm.expand(note)">
            <a href="#">{{note.name}}</a>
          </div>
        </td>
        <td class="noteContents">
          <div data-ng-show="note.showfull">
              <textarea rows="4" cols="50">{{note.content}}</textarea>
          </div>
        </td>
      </tr>
    </table>
  </div>
  </body>
</html>
